

.landing__container{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;   
}

.landing__container a {
    font-size: 1.5rem;
    font-family: var(--text-font);
    text-decoration: none;
    width: 10rem;
    text-align: center;
    padding: 0.5rem 3rem;
    border-radius: 15px;
    color: white;
}

.login__anchor{
    background-color: #08e1ae;
    background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
}

.sign-up__anchor{
    background-color: #60dfcd;
    background-image: linear-gradient(315deg, #60dfcd 0%, #1e9afe 74%);
}