.login__view__container{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__view__container h1{
    font-family: var(--text-font);
    font-size: 2rem;
    margin-bottom: 1rem;
    color: whitesmoke;
    position: relative;
}

.go-home__button {
    color: whitesmoke;
    background-color: #990000;
    background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);
    padding: 0.5rem;
    border-radius: 50%;
    position: absolute;
    left: -100%;
    bottom: 0;
    border: none;
}

.go-home__button:hover{
    opacity: 0.8;
    box-shadow: #990000 1px 1px 5px;
} 

.login__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    background-color: #08e1ae;
    background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
    padding: 2rem;
    border-radius: 1rem;
}

.login__form input {
    padding: 0.5rem 0 0.5rem 1rem;
    border:none;
    width: 15rem;
    border-radius: 1rem;
    box-shadow: #08e1ae 1px 1px 5px;
}

.login__form input::placeholder{
    font-family: var(--text-font);
}

.login__form button{
    font-family: var(--text-font);
    padding: 0.5rem 1rem;
    width: 16rem;
    border-radius: 1rem;
    border: none;
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    color: whitesmoke;
    font-size: 1rem;
}

.login__form button:hover {
    box-shadow:#98de5b 5px 5px 10px;

}

.login__form button[disabled] {
    opacity: 0.5;
    color: white;
}