<main class="login__view__container">
  <form class="login__form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>
      Login
      <a class="go-home__button" (click)="home()" title="Go back home">
        <i class="fa-solid fa-house"></i>
      </a>
    </h1>
    <input placeholder="email" formControlName="email" type="text" />
    <input placeholder="password" formControlName="password" type="password" />
    <button type="submit" [disabled]="!form.valid">Go!</button>
  </form>
</main>
