<logout></logout>
<main class="home_container" *ngIf="offensiveWords$ | async as OW">
  <form
    [formGroup]="form"
    (ngSubmit)="typeOfRequest == 'create' ? create() : update()"
  >
    <input type="hidden" formControlName="id" />
    <input
      id="word_input"
      class="form_input"
      placeholder="   word"
      type="text"
      formControlName="word"
      required
    />
    <input
      id="level_input"
      class="form_input"
      placeholder="   level"
      type="number"
      formControlName="level"
      required
    />
    <footer class="form_buttons__container">
      <button
        class="form_button"
        [class.create]="typeOfRequest == 'create'"
        [disabled]="typeOfRequest !== 'create'"
        type="submit"
      >
        Create
      </button>
      <button
        class="form_button update"
        *ngIf="typeOfRequest == 'update'"
        type="submit"
      >
        update
      </button>
      <button
        class="form_button"
        [class.cancel]="typeOfRequest == 'update'"
        [disabled]="typeOfRequest == 'create'"
        type="button"
        (click)="cancel()"
      >
        reset
      </button>
    </footer>
  </form>

  <section class="offensive-word__container" *ngIf="OW.length > 0">
    <div class="offensive-word__container__card" *ngFor="let data of OW">
      <h1 class="offensive-word__title">{{ data.palabrota }}</h1>
      <p class="text">Level: {{ data.nivel }}</p>
      <footer class="offensive-word__buttons__container">
        <button
          class="offensive-word__button text delete"
          (click)="deleteOffensiveWord(data._id)"
        >
          <i class="fa-solid fa-trash"></i>
        </button>
        <button
          class="offensive-word__button text update"
          (click)="toUpdate(data)"
        >
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
      </footer>
    </div>
  </section>
</main>
