
.home_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

create-form{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.offensive-word__container{
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    box-shadow: inset 0 0 1rem rgb(70, 69, 69);
}

.offensive-word__container__card {
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0.5rem;
    border-bottom: 2px rgb(14, 44, 88) solid;
}

.offensive-word__container__card h1{
    width: 15rem;
}


.offensive-word__title{
    font-family: var(--roboto-font);
    font-size: 1.5rem;
}

.offensive-word__buttons__container{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.offensive-word__button{
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    font-family: var(--text-font);
    font-size: 1rem;
    transition: 0.7s;
}

.delete{
    background-color: #bd4f6c;
    background-image: linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);
    
}

form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 1rem 2rem 1rem;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    
}

.form_input{
    width: 30%;
    padding: 0.5rem;
    border-radius: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 1rem;

}

.form_buttons__container{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.form_button{
    width: 30%;
    padding: 0.5rem;
    border-radius: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    font-family: var(--text-font);
    font-size: 1rem;
    transition: 0.5s;

}

.create{
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
}

.update{
    color: rgb(65, 61, 61);
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}

.cancel{
    color: rgb(65, 61, 61);
    background-color: #f1dfd1;
    background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
}

.create:hover, .update:hover, .cancel:hover{
    box-shadow: rgba(131, 131, 131, 0.35) 0px 5px 15px;
    font-size: 0.95rem;
}

