.main_title{
	text-align:  center;
	padding:  1rem 0rem;
	font-size: 3rem;
	font-family: var(--title-font);
	color: whitesmoke;
	background-color: #FBAB7E;
	background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
	letter-spacing: 0.1rem;
	width: 100%;
	text-shadow: 5px 5px 1px #FBAB7E;
}