.sign-up__container{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up__container h1{
    font-family: var(--text-font);
    font-size: 2rem;
    margin-bottom: 1rem;
    color: whitesmoke;
    position: relative;
}

.sign-up__container a {
    color: whitesmoke;
    background-color: #990000;
    background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);
    padding: 0.5rem;
    border-radius: 50%;
    position: absolute;
    left: -70%;
    bottom: 0;
    border: none;
}

.sign-up__container a:hover{
    opacity: 0.8;
    box-shadow: #990000 1px 1px 5px;

} 

.sign-up__form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    background-color: #60dfcd;
    background-image: linear-gradient(315deg, #60dfcd 0%, #1e9afe 74%);
    padding: 2rem 0;
}

.sign-up__form input {
    padding: 0.5rem 0 0.5rem 1rem;
    border:none;
    width: 15rem;
    border-radius: 1rem;
    box-shadow: #60dfcd 1px 1px 5px;
}

.sign-up__form button{
    font-family: var(--text-font);
    padding: 0.5rem 1rem;
    width: 16rem;
    border-radius: 1rem;
    border: none;
    background-color: #60dfcd;
    background-image: linear-gradient(315deg, #60dfcd 0%, #1e9afe 74%);
    color: whitesmoke;
    font-size: 1rem;
}

.sign-up__form button:hover {
    box-shadow:#60dfcd 5px 5px 10px;

}

.sign-up__form button[disabled] {
    opacity: 0.5;
    color: white;
}

.success__message{
    font-family: var(--text-font);
    font-size: 2rem;
    color:whitesmoke;
}