<main class="sign-up__container">
  <form class="sign-up__form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>
      Sign up
      <a title="Go back home" [routerLink]="['/']"
        ><i class="fa-solid fa-house"></i
      ></a>
    </h1>

    <input placeholder="email" formControlName="email" type="text" />
    <input placeholder="password" formControlName="password" type="password" />
    <input placeholder="nickName" formControlName="nickName" type="text" />
    <select formControlName="role">
      <option value="">Choose a Role</option>
      <option *ngFor="let type of userType">{{ type }}</option>
    </select>
    <button type="submit" [disabled]="!form.valid">Create</button>
    <p class="success__message" *ngIf="signUp$ | async">User Created!</p>
  </form>
</main>
