@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
/* You can add global styles to this file, and also import other style files */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	vertical-align: baseline;
	font-family: serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #d9d9d9;
background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
}

app-root{
    width: 100%;
    height: 100%;

}

:root{
    --title-font:'Bangers', cursive, serif;
    --roboto-font: 'Roboto Slab', serif;
    --text-font: 'Asap', sans-serif;
}

.text {
    font-family: var(--text-font);
}
/* 
app-sign-up{
    height: 100%;
} */